.result {
  max-width: 600px;
  padding: 16px 12px;
  margin-bottom: 10px;
  background-color: var(--white);
}

.result__url {
  font-size: 0.875rem;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.result__title {
  display: block;
  margin-bottom: 8px;
}
.result__description {
  line-height: 1.5;
}
