.searchResults {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.searchResults__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 65px;
  padding: 0 16px 8px;
  margin-top: 16px;
}

@media screen and (max-width: 968px) {
  .searchResults__nav {
    height: auto;
  }
}

.searchResults__nav .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .searchResults__nav .wrapper {
    flex-direction: column;
  }
}

.searchResults__nav .brand img {
  width: 92px;
  height: 30px;
  margin: 0 42px 0 25px;
}

@media screen and (max-width: 968px) {
  .searchResults__nav .brand img {
    margin: 0 42px 12px 25px;
  }
}

.searchResults .results {
  flex: 1;
}

.searchResults__navigation {
  height: 50px;
  color: #465464;
  font-size: 0.875rem;
  border-bottom: 1px solid var(--gray);
  display: flex;
  align-items: flex-end;
  min-width: 100%;
  overflow: scroll;
}
.searchResults__navigation::-webkit-scrollbar {
  display: none;
}
.searchResults__navigation .container {
  display: flex;
  justify-content: space-between;
}

.searchResults__navigation ul {
  display: flex;
  padding-left: 0;
}
.searchResults__navigation li {
  list-style: none;
  padding: 17px 12px 11px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
}
.searchResults__navigation li.active {
  color: var(--light-blue);
  position: relative;
}
.searchResults__navigation li.active::after {
  content: '';
  position: absolute;
  background-color: var(--light-blue);
  height: 3px;
  width: calc(100% - 22px);
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}
.searchResults__navigation li svg {
  width: 16px;
  margin-right: 6px;
  fill: #465464;
}
.searchResults__navigation li img {
  width: 16px;
  margin-right: 6px;
  fill: #465464;
}
.results__stats p {
  padding: 13.5px;
}
