.userProfile {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

@media screen and (max-width: 968px) {
  .userProfile.floating {
    position: absolute;
    right: 0;
    top: 6px;
  }
}

.userProfile button {
  padding: 8px;
}
.userProfile .MuiAvatar-root {
  width: 32px;
  height: 32px;
}
